/* GALLERY */
.column .gallery_effect {
    position: relative;
}

.hover14 figure {
    overflow: hidden;
    position: relative;
    margin: 0;
}

.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-17deg);
}

.hover14 figure:hover::before {
    animation: shine 0.95s;
}
h5.gall-text {
    position: absolute;
    z-index: 0;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px;
}

.column .gallery_effect img {
    width: 100%;
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

/* GALLERY RESPONSIVE */

@media screen and (max-width: 450px) {
    .gallery-img-grid:nth-child(1) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 1em;
    }
}

/* GALLERY DARKMODE */
.dark .gallery {
    background-color: #222222;
}

.dark .gallery .title-style {
    color: #fdfffc;
}

.dark .gallery .gallery__para--dark {
    color: #b7b7b7;
}
