/* HEADER */
header {
    background-color: transparent;
    height: 90px;
    transition: all 0.4s ease 0s;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    display: grid;
    align-items: center;
}
header .container {
    padding: 0;
}
header .navbar {
    padding: 0;
}
header .navbar h1 a {
    font-size: 32px;
    color: #fb811e;
    padding: 0px;
    position: relative;
}
header .navbar h1 a i {
    position: absolute;
    top: -10px;
    left: 55px;
    font-size: 20px;
}
header .nav__right {
    display: flex;
}
header .search {
    --background: #ffffff;
    --text-color: #414856;
    --primary-color: white;
    --border-radius: 10px;
    --width: 190px;
    --height: 45px;
    background: var(--background);
    width: auto;
    height: var(--height);
    position: relative;
    overflow: hidden;
    border: 2px solid #eee;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;

    input[type="text"] {
        position: relative;
        width: var(--height);
        height: var(--height);
        font:
            400 16px "Varela Round",
            sans-serif;
        color: var(--text-color);
        border: 0;
        box-sizing: border-box;
        outline: none;
        padding: 0 0 0 40px;
        transition: width 0.6s ease;
        z-index: 10;
        opacity: 0;
        cursor: pointer;
        &:focus {
            z-index: 0;
            opacity: 1;
            width: var(--width);
            ~ .symbol {
                &::before {
                    width: 0%;
                }
                &:after {
                    clip-path: inset(0% 0% 0% 100%);
                    transition: clip-path 0.04s linear 0.105s;
                }
                .cloud {
                    top: -30px;
                    left: -30px;
                    transform: translate(0, 0);
                    transition: all 0.6s ease;
                }
                .lens {
                    top: 15px;
                    left: 15px;
                    transform: translate(0, 0);
                    fill: black;
                    transition:
                        top 0.5s ease 0.1s,
                        left 0.5s ease 0.1s,
                        fill 0.3s ease;
                }
            }
        }
    }
    .symbol {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            content: "";
            position: absolute;
            right: 0;
            width: 100%;
            height: 100%;
            background: var(--primary-color);
            z-index: -1;
            transition: width 0.6s ease;
        }
        &:after {
            content: "";
            position: absolute;
            top: 21px;
            left: 21px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: var(--primary-color);
            z-index: 1;
            clip-path: inset(0% 0% 0% 0%);
            transition: clip-path 0.04s linear 0.225s;
        }
        .cloud,
        .lens {
            position: absolute;
            fill: black;
            stroke: none;
            top: 50%;
            left: 50%;
        }
        .cloud {
            width: 35px;
            height: 32px;
            transform: translate(-50%, -60%);
            transition: all 0.6s ease;
        }
        .lens {
            fill: black;
            width: 16px;
            height: 16px;
            z-index: 2;
            top: 24px;
            left: 24px;
            transition:
                top 0.3s ease,
                left 0.3s ease,
                fill 0.2s ease 0.2s;
        }
    }
}
header .nav__moon {
    display: flex;
    align-items: center;
}
header .material-symbols-outlined {
    font-size: 30px;
    transition: all 0.5s;
}
header .material-symbols-outlined:hover {
    color: #fb811e !important;
    cursor: pointer;
}
header .navbar-toggler {
    padding: 0;
}

header .nav-link.active {
    color: #fb811e;
}
header .nav-link {
    transition: all 0.5s;
}
header .nav-link:hover {
    color: #fb811e;
}

header .myNavbar-collapse {
    position: absolute;
    right: 0;
    top: 130%;
    font-size: 16px;
    min-width: 230px;
    border-radius: 10px;
    transition: all 0.5s;
    background-color: #fff;
    box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
}

header .myNavbar-collapse a {
    font-family: "Source Sans Pro Bold";
    font-size: 17px;
    color: #060606;
    font-weight: 600;
    padding: 13px 7px;
    text-align: center;
    font-weight: 600;
}
.nav-fixed {
    padding: 0px;
    border-bottom: none;
    z-index: 99 !important;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    height: 70px;
    color: black;
}
header .navbar .navbar-brand {
    transition: all 0.5s;
}
header .navbar .navbar-brand:hover {
    color: #060606;
}

/* HEADER DARKMODE */
.dark .nav-fixed {
    background-color: #222222;
}

/* .dark #switch__ChangedTheme {
    color: #fff;
} */

.dark .material__symbols__outlined {
    color: #fff !important;
}
/* RESPONSIVE HEADER */
@media screen and (max-width: 576px) {
    header .navbar {
        padding: 0 15px;
    }
}
@media screen and (max-width: 480px) {
    header .navbar .navbar-brand {
        font-size: 28px;
    }
}
