/* SERVICES */
.service-section {
    background: #009f4d;
}
.service-section .card {
    border: none;
    background: none;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.service-details {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
    border: 1px solid #eee;
    border-top: none;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.service-section span.label-style {
    color: #009f4d;
    display: inline-block;
    background: rgb(0 159 77 / 16%);
    padding: 5px 20px;
    border-radius: 15px;
    font-weight: 600;
}
a.service-heading {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: var(--heading-color);
    margin: 15px 0;
}
.service-section .card img {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
h4.title-bg-content {
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: 0.14;
    font-size: 12vw;
    right: 50%;
    /* left: 0; */
    bottom: 50%;
    transform: translate(50%, 50%);
}
.grids_info span.fa {
    font-size: 30px;
    color: #fb811e;
}
.radius-image {
    border-radius: 30px;
}
.imginfo__box {
    background-color: #fb811e;
    color: #fff;
    position: absolute;
    left: -85px;
    bottom: 38px;
    padding: 40px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}
.imginfo__box .imginfo__title {
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    font-weight: 600;
}
.imginfo__box p {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2px;
}