* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Volkhov", serif;
    font-weight: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./font/SourceSansPro-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(./font/SourceSansPro-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(./font/SourceSansPro-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Source Sans Pro - Semibold";
    src: url(./font/SourceSansPro-Semibold.ttf);
}

/* HEADER */

header {
    background-color: transparent;
    height: 90px;
    transition: all 0.4s ease 0s;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    display: grid;
    align-items: center;
}

header .container {
    padding: 0;
}

header .navbar {
    padding: 0;
}

.navbar h1 a {
    font-size: 32px;
    color: #fb811e;
    padding: 0px;
    position: relative;
}

.navbar h1 a i {
    position: absolute;
    top: -10px;
    left: 55px;
    font-size: 20px;
}

header .nav__right {
    display: flex;
}

.search {
    --background: #ffffff;
    --text-color: #414856;
    --primary-color: white;
    --border-radius: 10px;
    --width: 190px;
    --height: 45px;
    background: var(--background);
    width: auto;
    height: var(--height);
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;

    input[type="text"] {
        position: relative;
        width: var(--height);
        height: var(--height);
        font:
            400 16px "Varela Round",
            sans-serif;
        color: var(--text-color);
        border: 0;
        box-sizing: border-box;
        outline: none;
        padding: 0 0 0 40px;
        transition: width 0.6s ease;
        z-index: 10;
        opacity: 0;
        cursor: pointer;
        &:focus {
            z-index: 0;
            opacity: 1;
            width: var(--width);
            ~ .symbol {
                &::before {
                    width: 0%;
                }
                &:after {
                    clip-path: inset(0% 0% 0% 100%);
                    transition: clip-path 0.04s linear 0.105s;
                }
                .cloud {
                    top: -30px;
                    left: -30px;
                    transform: translate(0, 0);
                    transition: all 0.6s ease;
                }
                .lens {
                    top: 15px;
                    left: 15px;
                    transform: translate(0, 0);
                    fill: black;
                    transition:
                        top 0.5s ease 0.1s,
                        left 0.5s ease 0.1s,
                        fill 0.3s ease;
                }
            }
        }
    }
    .symbol {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            content: "";
            position: absolute;
            right: 0;
            width: 100%;
            height: 100%;
            background: var(--primary-color);
            z-index: -1;
            transition: width 0.6s ease;
        }
        &:after {
            content: "";
            position: absolute;
            top: 21px;
            left: 21px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: var(--primary-color);
            z-index: 1;
            clip-path: inset(0% 0% 0% 0%);
            transition: clip-path 0.04s linear 0.225s;
        }
        .cloud,
        .lens {
            position: absolute;
            fill: black;
            stroke: none;
            top: 50%;
            left: 50%;
        }
        .cloud {
            width: 35px;
            height: 32px;
            transform: translate(-50%, -60%);
            transition: all 0.6s ease;
        }
        .lens {
            fill: black;
            width: 16px;
            height: 16px;
            z-index: 2;
            top: 24px;
            left: 24px;
            transition:
                top 0.3s ease,
                left 0.3s ease,
                fill 0.2s ease 0.2s;
        }
    }
}

.nav__moon {
    display: flex;
    align-items: center;
}
.material-symbols-outlined {
    font-size: 30px;
}

.navbar-toggler {
    padding: 0;
}

/* CAROUSEL */
/* .myCarousel {
    position: relative;
} */

.myCarousel-left {
    right: 48%;
    z-index: 2;
    top: 27%;
}
.myCarousel-left h2 {
    color: #f4f4f4;
    font-size: 120px;
    font-weight: bold;
    margin-left: -0.5em;
}

.myCarousel h3 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
}

p.myCarousel-text {
    font-size: 19px;
    color: #707070;
    line-height: 27px;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

.btn-style {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 600;
    background-color: #f7811f;
    border: none;
    color: #fff;
    border-radius: 30px;
    transition: all 0.25s ease-in-out;
}

.carousel__pic1 {
    background-image: url(../img/b1.jpg);
    position: relative;
}

.carousel__pic1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 17%);
    /* border-bottom-left-radius: 30px; */
}

.carousel__pic2 {
    background-image: url(../img/b4.jpg);
}

.carousel__pic3 {
    background-image: url(../img/b8.jpg);
}

.owl-carousel.owl-theme.owl-loaded.owl-drag {
    position: relative;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fb811e;
}
.carousel__pic {
    height: 100vh;
    position: relative;
}

.owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
}

.carousel__pic--text {
    position: absolute;
}
.carousel__pic--text {
    position: absolute;
    bottom: 4%;
    color: white;
    right: 2%;
}

.carousel__pic--text p {
    font-size: 17px;
    font-family: "Source Sans Pro";
}

.owl-carousel .owl-stage-outer {
    border-bottom-left-radius: 20px;
}

/* DISCOVER */
h5.small-title {
    color: #f7811f;
    font-size: 22px;
}

.title-style {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #060606;
}

.w3l-features .call-grids-w3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.w3l-features .box-wrap {
    padding: 40px 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
    background-color: #fff;
}

.w3l-features .box-wrap h4 a {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #060606;
}

/* SERVICES */
.service-section {
    background: #009f4d;
}

.title-style-main {
    z-index: 1;
}

.service-section .card {
    border: none;
    background: none;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.service-details {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
    border: 1px solid #eee;
    border-top: none;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.service-section span.label-style {
    color: #009f4d;
    display: inline-block;
    background: rgb(0 159 77 / 16%);
    padding: 5px 20px;
    border-radius: 15px;
    font-weight: 600;
}

a.service-heading {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: var(--heading-color);
    margin: 15px 0;
}

.service-section .card img {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

h4.title-bg-content {
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: 0.14;
    font-size: 12vw;
    right: 50%;
    /* left: 0; */
    bottom: 50%;
    transform: translate(50%, 50%);
}

.grids_info span.fa {
    font-size: 30px;
    color: #fb811e;
}
.radius-image {
    border-radius: 30px;
}

.imginfo__box {
    background-color: #fb811e;
    color: #fff;
    position: absolute;
    left: -85px;
    bottom: 38px;
    padding: 40px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}

.imginfo__box .imginfo__title {
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    font-weight: 600;
}

.imginfo__box p {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2px;
}

/* OPTIONAL */
.w3l-index-block4 .features15-col-text {
    margin-top: 30px;
}
.w3l-index-block4 .feature-unit {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 2rem 1rem;
    /* background: var(--bg-light); */
    transition: 0.3s ease-in;
}

.w3l-index-block4 .features15-para h4 {
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
}

.w3l-index-block4 .features15-para p {
    margin-top: 10px;
}

/* GALLERY */
.column .gallery_effect {
    position: relative;
}

.hover14 figure {
    overflow: hidden;
    position: relative;
    margin: 0;
}

.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-17deg);
}

h5.gall-text {
    position: absolute;
    z-index: 0;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px;
}

/* FOOTER */
.w3l-footer-16 .w3l-footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--heading-color);
}

.w3l-footer-16 .w3l-footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--heading-color);
}

.w3l-footer-16 .subscribe input[type="email"] {
    background: #f4f4f4;
    border: none;
    padding: 12p 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: #707070;
    border: 1px solid #eee;
    border-radius: 30px 0px 0px 30px;
}

.w3l-footer-16 .subscribe button {
    background: #009f4d;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
}

.w3l-footer-16 ul.social li,
.w3l-footer-16 ul.jst-link li {
    display: inline-block;
    margin-right: 5px;
}

.w3l-footer-16 ul.social li a {
    color: #009f4d;
    width: 35px;
    height: 35px;
    background: rgb(10 191 83 / 8%);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}


.w3l-footer-16 ul.social li a span {
    font-size: 15px;
    line-height: 35px;
}